body{
    margin: 0;
    padding: 0;
}
.schedule{
    margin: 20px;
}

.schedule-grid{
    display: inline;
}

.term, .block{
    display: flex;
}

.term{

}

.term-title, .block-item{
    border: solid 2px;
    padding: 10px;
    width: 250px;
}

.term-title{

}

.block{
    
}


.year-title, .block-title{
    width: 100px;
}

.block-item{
    
}